<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-body">
                <div class="row">
                    <form th:action="@{/user/check}" th:method="get">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="from">Date from:</label><br>
                                <input type="date" class="form-control" id="from" name="from"
                                       th:value="${currentMonthStart}">
                            </div>
                            <div class="col-md-6">
                                <label for="to">Date to:</label><br>
                                <input type="date" class="form-control" id="to" name="to"
                                       th:value="${currentMonthEnd}">
                            </div>
                        </div>
                        <div>
                            <button id="submit" type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>