<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All time entries</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link rel="script" th:href="@{timeEntry/displayTimeEntries.js}">


</head>
<body th:onload="loadTimeEntries()">
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-body">
                <div class="row">
                    <h2>All issues</h2>
                </div>
                <img alt="Fetching work logs" th:src="@{/gifs/loading.gif}" style="display:none"
                     id="animationImage">

                <div class="panel-body" id="table-content"></div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function loadTimeEntries() {
        $('#animationImage').show();

        function loop() {
            $.ajax({
                url: "/timeEntries/import",
                type: "POST",
                data: [[${importStatus}]],
                success: function (data) {
                    if (data) {
                        $('#table-content').replaceWith(data);
                        $('#animationImage').hide();
                        clearInterval(intervalID);
                    }
                },
                error: function (data) {
                    $("#table-content").html(data);
                    $('#animationImage').hide();
                    clearInterval(intervalID);
                }
            });
        }

        var intervalID = setInterval(loop, 1000);
    }
</script>
</body>
</html>
