<div class="panel-body" style="padding: 0">
    <div class="table-responsive">
        <div class="table-responsive" xmlns:th="http://www.thymeleaf.org">
            <!--/*@thymesVar id="entry" type="com.telesoftas.jira2redmine.api.model.redminedata.TimeEntry"*/-->
            <h4 th:text="${postedFromAll}"></h4>
            <table class="table table-hover" id="entities_table">
                <thead class="thead-inverse">
                <tr>
                    <th>Project</th>
                    <th>User</th>
                    <th>Activity</th>
                    <th>Hours</th>
                    <th>Comment</th>
                    <th>Spent on</th>
                    <th>Updated on</th>
                </tr>
                </thead>
                <tr th:each="entry : ${timeEntries}">
                    <!--/*@thymesVar id="entry" type="com.telesoftas.jira2redmine.api.model.redminedata.TimeEntry"*/-->
                    <td th:text="${entry.project.name}">Project name</td>
                    <td th:text="${entry.user.firstname}">User name</td>
                    <td th:text="${entry.activity.name}">Activity name</td>
                    <td th:text="${entry.hours}">Hours</td>
                    <td th:text="${entry.comments}">Comment</td>
                    <td th:text="${entry.getSpentOn()}">Spent on</td>
                    <td th:text="${entry.getUpdatedOn()}">Updated on</td>
                </tr>
            </table>
        </div>
    </div>
</div>