<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User management</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-body">
                <div align="right">
                    <button class="btn btn-primary" onclick="location.href = '/';">
                        Back to index
                    </button>
                </div>
                <div class="row">
                    <h2>User mapping</h2>
                </div>

                <div class="panel-body" style="padding: 0">
                    <div class="table-responsive">
                        <div class="table-responsive" xmlns:th="http://www.thymeleaf.org">
                            <table class="table table-hover" id="userMap" th:if="!${mappedUserList.isEmpty()}">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>displayName (accountID)</th>
                                    <th>Suggested user: firstName lastName (login)</th>
                                    <th>Save</th>
                                </tr>
                                </thead>
                                <!--/*@thymesVar id="user" type="com.telesoftas.jira2redmine.api.model.userMapping.entity.User"*/-->
                                <tr th:each="user : ${mappedUserList}" th:id="${user.jiraAccountId}">
                                    <td th:text="${user.displayName + ' (' + user.jiraAccountId + ')'}">
                                        displayName (accountID)
                                    </td>
                                    <td>
                                        <select class="form-control" name="userRemapping"
                                                th:id="${'dropdown-' + user.jiraAccountId}">
                                            <option th:each="redmineUser : ${allUsers}" th:value="${redmineUser.id}"
                                                    th:text="${redmineUser.firstname != null and redmineUser.lastname != null and redmineUser.login != null} ? ${redmineUser.getFullName() + ' (' + redmineUser.login + ')'} : ''"
                                                    th:selected="${user.redmineUserId == redmineUser.id} ? true : false">
                                                user details
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <button th:data-user-accountId="${user.jiraAccountId}"
                                                th:data-user-displayName="${user.displayName}"
                                                th:id="${'button-' + user.jiraAccountId}"
                                                onclick="saveMapping(this.getAttribute('data-user-accountId'), this.getAttribute('data-user-displayName'));">
                                            Save mapping
                                        </button>
                                        <button th:data-user-accountId="${user.jiraAccountId}"
                                                th:id="${'button-delete-' + user.jiraAccountId}"
                                                onclick="deleteMapping(this.getAttribute('data-user-accountId'))">
                                            Delete
                                        </button>
                                        <img alt="User mapped" th:src="@{/pictures/check.png}" style="display:none"
                                             th:id="${'icon-check-' + user.jiraAccountId}">
                                        <img alt="User mapped" th:src="@{/pictures/cross.png}" style="display:none"
                                             th:id="${'icon-cross-' + user.jiraAccountId}">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function saveMapping(accountId, displayName) {
        var e = document.getElementById("dropdown-" + accountId);
        var redmineUserId = e.value;

        $.ajax({
            url: "/user/map/save",
            type: "POST",
            data: {
                "accountId": accountId,
                "displayName": displayName,
                "redmineUserId": redmineUserId
            },
            success: function (data) {
                if (data) {
                    alert("Updated");
                }
            },
            error: function (data) {
                alert("Problem while updating");
            }
        });
    }

    function deleteMapping(accountId) {
        $.ajax({
            url: "/user/map/delete",
            type: "DELETE",
            data: {
                "accountId": accountId,
            },
            success: function (data) {
                alert("User mapping deleted");
                var userMappingRow = document.getElementById(accountId);
                userMappingRow.style.display = "none";
            },
            error: function (data) {
                alert("Problem while deleting");
            }
        });
    }
</script>
</body>
</html>