<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User mapping</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-body">
                <div align="right">
                    <button class="btn btn-primary" onclick="location.href = '/user/manage';">
                        Manage users
                    </button>
                </div>
                <div class="row">
                    <h2>User mapping</h2>
                </div>

                <div class="panel-body" style="padding: 0">
                    <div class="table-responsive">
                        <div class="table-responsive" xmlns:th="http://www.thymeleaf.org">
                            <!--/*@thymesVar id="entry" type="com.telesoftas.jira2redmine.api.model.TimeEntry"*/-->
                            <h3>Unmapped users</h3>
                            <table class="table table-hover" id="unmapped_table" th:if="!${unmapped.isEmpty()}">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>displayName (accountID)</th>
                                    <th>Suggested user: firstName lastName (login)</th>
                                    <th>Save</th>
                                </tr>
                                </thead>
                                <tr th:each="unmappedUser : ${unmapped}">
                                    <td th:text="${unmappedUser.key.displayName + ' (' + unmappedUser.key.accountId + ')'}">
                                        displayName (accountID)
                                    </td>
                                    <td>
                                        <select class="form-control" name="userRemapping"
                                                th:id="${unmappedUser.key.accountId}">
                                            <option th:each="user : ${userList}" th:value="${user.id}"
                                                    th:text="${user.firstname != null and user.lastname != null and user.login != null} ? ${user.getFullName() + ' (' + user.login + ')'} : ''"
                                                    th:selected="${unmappedUser.value.firstname == user.firstname and unmappedUser.value.lastname == user.lastname and unmappedUser.value.login == user.login} ? true : false">
                                                user details
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <button th:data-user-accountId="${unmappedUser.key.accountId}"
                                                th:data-user-displayName="${unmappedUser.key.displayName}"
                                                th:id="${'button-' + unmappedUser.key.accountId}"
                                                onclick="saveMapping(this.getAttribute('data-user-accountId'), this.getAttribute('data-user-displayName'));">
                                            Save mapping
                                        </button>
                                        <img alt="User mapped" th:src="@{/pictures/check.png}" style="display:none"
                                             th:id="${'icon-check-' + unmappedUser.key.accountId}">
                                        <img alt="User mapped" th:src="@{/pictures/cross.png}" style="display:none"
                                             th:id="${'icon-cross-' + unmappedUser.key.accountId}">
                                    </td>
                                </tr>
                            </table>
                            <h3>Mapped users</h3>
                            <table class="table table-hover" id="mapped_table" th:if="!${mapped.isEmpty()}">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>displayName (accountID)</th>
                                    <th>firstName lastName (login)</th>
                                </tr>
                                </thead>
                                <tr th:each="mappedUser : ${mapped}">
                                    <!--/*@thymesVar id="user" type="com.telesoftas.jira2redmine.contract.JiraWorklog"*/-->
                                    <td th:text="${mappedUser.key.displayName + ' (' + mappedUser.key.accountId + ')'}">
                                        displayName (accountID)
                                    </td>
                                    <td th:text="${mappedUser.value.firstname != null and mappedUser.value.lastname != null and mappedUser.value.login != null}
                                            ? ${mappedUser.value.getFullName() + ' (' + mappedUser.value.login + ')'} : ''">
                                        firstName lastName (login)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <form th:action="@{/timeEntries/import}" th:method="get" disabled="true">
                            <input type="hidden" name="from" th:value="${from}">
                            <input type="hidden" name="to" th:value="${to}">
                            <button id="proceed" type="submit" class="btn btn-primary" disabled>Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var mapCount = 0;

    function saveMapping(accountId, displayName) {
        var e = document.getElementById(accountId);
        var redmineUserId = e.value;

        $.ajax({
            url: "/user/map/save",
            type: "POST",
            data: {
                "accountId": accountId,
                "displayName": displayName,
                "redmineUserId": redmineUserId
            },
            success: function (data) {
                if (data) {
                    alert("succeess");
                    mapCount = mapCount + 1;
                    if (mapCount === [[${unmapped.size()}]]) {
                        document.getElementById("proceed").disabled = false;
                    }
                }
            },
            error: function (data) {
                alert("fail");
            }
        });
    }
</script>
</body>
</html>